html, body {
    height:100%;
}

body{
   background: linear-gradient(45deg, rgb(19, 73, 95), rgb(118, 75, 226), rgb(131, 115, 198), rgb(119, 211, 185));
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;

}
a , a:visited{
  color: white;
}


.data{

}

button{
  overflow: visible;
}
.logo{
  width: 50%;
  height: auto;
  cursor: pointer;
}
ol {
    margin-left: 0px;
    padding: 0px;
    font-weight: bold;
}

b{
  display: inline-block;
}
.adjust {
  overflow: hidden;
}
.option{
  display: inline;
}

i {
  cursor: pointer;
}

.inline{
  display: inline;
}

.block{
  display: inline-block;
}
.right{
  float: right;
  margin-right: 2%;
}

.wrapper{
  position: relative;
  width: 30vw;
  min-width: 320px;
  max-width: 40vh;
  background: white;
  padding: 5px;
  margin: auto;
  border-radius: 5px;
  margin-top: 2%;
  margin-bottom: 1%;
  padding-bottom: 1.5%;
}
.scroll{
  overflow: scroll;
}

.dropdown-content, .option{
  color: red;
}
.modal{
  display: block;
}
.container{
 width: 29vw;
 min-width: 310px;
 max-width: 38vh;
 height: 72vh;
}
.height-full{
  height:100%;
}
.row{
  margin-bottom: 0.5%;
}

.heading {
  text-align: center;
  width: 100%;
}
.content{
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-floating {
margin-right: 20px;
}
center {
  width: 100%;
}
.btn.start{
  background: #e57373 ;
  width: 50%;
  border-radius: 4%;
  height : 4vh;
}

.add{
  float: right;
}

.full {
  width: 100%;
}


#bounce {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


footer{
  height: 8.7%;
   position: absolute;
   display: block;
   margin-left: auto;
   margin-right: auto;
   bottom: 10px;
   width: 96%
}

@media screen and (max-width: 650px) {
  .wrapper{
    width: 80vw;
  }
  .container{
   width: 77vw;;
  }
}

@media screen and (max-height: 750px) {
  .wrapper{
    height: 92%;
  }
  .content{
    height: 92%;
  }
  .dummy{
    height: 92%;
  }
  .container{
   height: 90%;
   overflow: visible;
  }
}
@media screen and (max-height: 550px) {
  .wrapper{
    height: 98%;
  }
  .container{
   height: 100%;
   overflow: visible;
  }
  .logo{
    width: 45%;
    height: auto;
  }
}
@media screen and (max-height: 450px) {

footer{
  display: none;
}
.logo{
  width: 40%;
  height: auto;
}

}
@media screen and (min-height: 1024px) and (min-width: 768px) {

  .wrapper{
    width: 50vw;
  }
    .container{
    width: 49vw;
  }

}
@media (max-aspect-ratio: 5/2) {
  .wrapper{
    width: 50vw;
  }
    .container{
    width: 49vw;
  }
}
