html{
  height: 100vh;
}
body{
  background: linear-gradient(45deg, rgb(19, 73, 95), rgb(118, 75, 226), rgb(131, 115, 198), rgb(119, 211, 185));
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;

}

ol {
    margin-left: 0px;
    padding: 0px;
    font-weight: bold;

}
b{
  display: inline-block;
}
.adjust {
  overflow: hidden;
}
i {
  cursor: pointer;
}

.inline{
  display: inline;
}


.block{
  display: inline-block;
}
.right{
  float: right;
  margin-right: 2%;
}

.wrapper{
  position: relative;
  height: 96%;
  width: 30vw;

  min-width: 320px;
  background: white;
  padding: 5px;
  margin: auto;
  border-radius: 5px;
  margin-top: 2%;
  margin-bottom: 2%;

}



.container{
 width: 29vw;
min-width: 310px;


}


.btn-floating {
margin-right: 20px;

}

.add{
  float: right;
}

.full {
  width: 100%;
}

@media screen and (max-width: 650px) {

  .wrapper{
    width: 80vw;

  }

  .container{
   width: 77vw;;

  }

}
